<form action="/" method="POST" id="forms">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-outline-danger">Login</button>
    <p class="mt-3">Não possui um conta? Registre-se <a href="/register">aqui.</a></p>
  </form>
